---
import "../styles/index.css";
import Socials from "../components/socials.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game's Personal Site</title>
  </head>
  <body>
    <main class="about">

      <h1 class="accent">Hi, I'm Game</h1>
      <p class="intro">I do random things on the internet.</p>
      <p>
        I'm a high school student who does random stuff that I think is fun.
        You'll find me irl at school as the boy with the green/black glasses and a purple watch.
      </p>
      <p>
        This site is very barebone so far, but I plan to add more content in the future, maybe? I have no idea.
      </p>
      <p>
        If you're looking for the old website that I had before, you can find it on <a href="https://thapat.me/archive" class="accent">the "archive" directory</a>. Note that css and other stuff is fully borked if you're running local and I'm not planning to fix it, so enjoy the nostalgia of a 2010s pain and misery if you're poking it :p
      </p>
      
      <Socials />
      
    </main>
  </body>
</html>