---
import '../styles/index.css';
import Navbar from '../components/navbar.astro';
import Webring from '../components/webrings.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Game's personal site — projects, socials, and random internet stuff."
    />
    <meta property="og:title" content="Game's Personal Site" />
    <meta property="og:description" content="Webrings I'm in." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://thapat.me/webrings" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>Webrings</title>
  </head>
  <body>

    <Navbar />

    <main class="about">

      <Webring />

    </main>
  </body>