---
import SocialLink from "../components/social-link.astro";
import "@fortawesome/fontawesome-free/css/all.css";
---

<section class="socials">
        <h2 class="accent">Find Me <span class="comment">DMs are open on IG</span></h2>
        <ul class="socials-list">
            <SocialLink 
              icon="fa-discord"
              platform="Discord"
              username="game11454"
              link="https://discord.com/users/577105513456730112"
            />

            <SocialLink
              icon="fa-instagram"
              platform="Instagram"
              username="GamuGamiChan"
              link="https://instagram.com/GamuGamiChan"
            />
            
            <SocialLink
              icon="fa-github"
              platform="GitHub"
              username="GamuGamiChan"
              link="https://github.com/GamuGamiChan"
            />
      </section>