---
import Webbadge from "./webbadge.astro"
import "../styles/webbadges.css";
---

<section class="border-top">
    <h2 class="accent buttons-section">88x31s</h2>
    <ul class="buttons-list">
        <li>
            <Webbadge 
                title="Mastodon"
                img="https://88x31.kate.pet/masto.gif"
            />
            
            <Webbadge 
                title="vending machine"
                link="https://vendicated.dev"
                img="https://vendicated.dev/assets/88x31/me.gif"
            />
        </li>
    </ul>
</section>