---
import Webbadge from "./webbadge.astro"
import "../styles/webbadge.css";
---

<section class="border-top">
    <h2 class="accent">88x31s</h2>
    <ul class="buttons-list">
        <li>
            <Webbadge 
                title="vending machine"
                link="https://vendicated.dev"
                img="https://vendicated.dev/assets/88x31/me.gif"
            />
        </li>
    </ul>
</section>