---

---

<section class="border-top">
    <h2 class="accent">Webrings</h2>
    <ul class="webrings-list">
        <li>
            <script is:inline src="https://astracelestine.nekoweb.org/webring/tropical-rice-bowl/widget.js"></script>
        </li>
    </ul>
</section>