---
import "../styles/webrings.css";
---

<section>
    <div class="webrings-header">
        <h1 class="accent">Webrings</h1>
        <p class="comment">This is separate since it's slow to load images.</h2>
    </div>

    <ul class="webrings-list">
        <li>
            <script is:inline src="https://astracelestine.nekoweb.org/webring/tropical-rice-bowl/widget.js"></script>
        </li>
    </ul>
</section>